asgiref==3.8.1
colorama==0.4.6
dj-database-url==2.3.0
Django==5.2.1
django-heroku==0.3.1
djangorestframework==3.16.0
iniconfig==2.1.0
packaging==25.0
pillow==11.2.1
pluggy==1.6.0
psycopg2==2.9.10
Pygments==2.19.2
pytest==8.4.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.9.0
